.config-container {
  padding: 2rem;
  font-family: sans-serif;
}

.config-section {
  margin-top: 2.5rem;
  border-top: 1px solid #ccc;
  padding-top: 0.5rem;
}

.config-section:last-of-type {
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5rem;
}

.config-grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.config-item {
  display: flex;
  flex-direction: column;
}

.config-item label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.config-item input,
.config-item select {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.config-item button {
  width: 10rem;
  font-size: smaller;
  background-color: gray;
  margin-top: 0.5rem;
}

.config-item button:hover {
  background-color: #555;
}

.copyable {
  cursor: pointer;
  text-decoration: underline dotted;
}

.config-description {
  font-size: smaller;
}

.warning {
  font-weight: bold;
  color: #810000ff;
}

button {
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  background-color: var(--color-primary);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: var(--color-secondary);
}

.danger-button {
  background-color: #d32f2f;
}

.danger-button:hover {
  background-color: #b71c1c;
}

.config-item img {
  max-width: 100%;
  border: 1px solid #ccc;
  margin-top: 0.5rem;
}

/* better visual checkboxes */
.config-item input[type='checkbox'] {
  /* Reset default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Dimensions and positioning */
  position: relative;
  align-self: flex-start;
  width: 3.5rem;
  height: 1.75rem;

  /* Styling the track */
  background-color: #ccc;
  border-radius: 1.75rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.config-item input[type='checkbox']::before {
  content: '';
  position: absolute;
  top: 0.15rem;
  left: 0.15rem;
  width: 1.45rem;
  height: 1.45rem;
  background-color: white;
  border-radius: 50%;
  transition: left 0.2s ease-in-out;
}

.config-item input[type='checkbox']:checked {
  background-color: var(--color-secondary);
}

.config-item input[type='checkbox']:checked::before {
  /* Move the toggle to the right */
  left: 1.9rem;
}
