@import './base.css';

@media (hover: hover) {
  a {
    border: 2px solid transparent;
    border-radius: 0.25rem;
  }

  a:hover {
    border-color: hsla(160, 100%, 37%, 0.2);
  }
}

body {
  display: flex;
  flex-direction: column;
}
